.jumbotron {
    background-image: url(images/cover/cover-3.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.671);

}

.intro {
    padding-top: 160px;
}

.quetion {
    height: 980px;
}

footer {
    height: 250px;
}