.jumbotron {
    background-image: url(images/cover/cover-3.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-color: #1D1D1D;

}

.intro {
    padding-top: 160px;
}

.quetion {
    height: 980px;
}

footer {
    padding-top: 10px;
    height: 350px;
}

.fa-brands {
    font-size: 25px;

}

.ancor {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 25px;
}

.social-link {
    padding: 20px;
}